extends layout
block content
    script.
      $(document).ready(function(){
        var rtable = $('#stats-table').dataTable( {
          autoWidth: false,
          searching: true,
          ordering: true,
          //responsive: true,
          lengthChange: false,
          //processing: true,
          ajax: {
            url: '/ext/nodelist',
            dataSrc: function ( json ) {
              const data = [];
              for (var i = 0; i < json.data.length; i++) {
                const line = {}
                line['address'] = json.data[i]['address'];
                line['ip'] = json.data[i]['ip'];
                line['status'] = "Unknown";
                if (json.data[i]['last_paid'] < (json.height - json.data[i].last_stm_size*2) && json.data[i]['last_paid'] > 0){
                  line['status'] = "OFFLINE";
                }
                if (json.data[i]['last_paid'] > (json.height - json.data[i].last_stm_size*2)){ 
                  line['status'] = "ONLINE";
                }
                line['last_paid'] = json.data[i]['last_paid'];
                line['type'] = 'Unknown';
                if (json.data[i]['type'] == 1) { line['type'] = 'LIL'; }
                if (json.data[i]['type'] == 5) { line['type'] = 'MID'; }
                if (json.data[i]['type'] == 10) { line['type'] = 'BIG'; }
                line['start'] = json.data[i]['start_height'];
                line['expire'] = json.data[i]['expired_height'];
                line['country'] = json.data[i]['country'];
                data.push(line)
              }
              return data;
            }
          },
          columns: [
            { data: 'address', width: '35%'},
            { data: 'ip', width: '15%' },
            { data: 'status', width: '15%' },
            { data: 'last_paid', width: '15%' }, 
            { data: 'type', width: '5%' },
            { data: 'start', width: '5%' },
            { data: 'expire', width: '5%' },
            { data: 'country', width: '5%' },
          ]
        }); //end dataTable
      });
    .col-xs-12.col-md-10.col-md-offset-1(style="margin-bottom: 5%")
        table#stats-table.table.table-striped.table-bordered
            thead
                th Address
                th IP
                th Status
                th Last paid
                th Type
                th Start
                th Expire
                th Country
