extends layout
block content
    script.
      $(document).ready(function(){
        var rtable = $('#stats-table').dataTable( {
          autoWidth: false,
          searching: false,
          ordering: false,
          //responsive: true,
          lengthChange: false,
          //processing: true,
          ajax: {
            url: '/ext/masternodelist',
            dataSrc: function ( json ) {
              const data = [];
              const keys = Object.keys(json.data);
              for (var i = 0; i < keys.length; i++) {
                const line = {}
                line['address'] = keys[i];
                const lineData = json.data[keys[i]].split(" ");
                const noEmptyData = [];
                for (var j = 0; j < lineData.length; j++) {
                  if (lineData[j].length !== 0) {
                    noEmptyData.push(lineData[j])
                  }
                }
                //console.log(lineData);
                line['address'] = line['address'].substring(line['address'].length - 12, line['address'].length);
                line['status'] = noEmptyData[0].replace(/_/g, ' ').toLowerCase()
                line['protocol'] = noEmptyData[1]
                line['last_seen'] = moment.unix(noEmptyData[3]).fromNow()
                line['active_time'] = moment.duration(parseInt(noEmptyData[4]), "seconds").humanize()
                line['ip'] = noEmptyData[7]
                line['type'] = 'Unknown';
                if (noEmptyData[8] == 1) { line['type'] = 'LIL'; }
                if (noEmptyData[8] == 5) { line['type'] = 'MID'; }
                if (noEmptyData[8] == 10) { line['type'] = 'BIG'; }
                data.push(line)
              }
              return data;
            }
          },
          columns: [
            { data: 'address', width: '10%'},
            { data: 'status', width: '25%' },
            { data: 'protocol', width: '5%' },
            { data: 'active_time', width: '25%' },
            { data: 'last_seen', width: '10%' },
            { data: 'ip', width: '20%' },
            { data: 'type', width: '5%' }
          ]
        });
      });
    .col-xs-12.col-md-10.col-md-offset-1(style="margin-bottom: 5%")
        table#stats-table.table.table-striped.table-bordered
            thead
                th Address
                th Status
                th Protocol
                th Active time
                th Last seen
                th IP
                th Type