extends layout
block content
    script.
        $(document).ready(function(){
            var rtable = $('#stats-table').dataTable( {
                autoWidth: false,
                searching: false,
                ordering: false,
                //responsive: true,
                lengthChange: false,
                //processing: true,
                ajax: {
                    url: '/poollist',
                    dataSrc: function ( json ) {
                      const data = [];
                      for (var i = 0; i < json.data.length; i++) {
                        const item = {}
                        item['pool'] = "<a href='http://" + json.data[i]['homepage'] + "'>" + json.data[i]['pool_name'] + "</a>";
                        item['block_height'] = json.data[i]['block_height'];
                        item['workers'] = json.data[i]['workers'];
                        item['blocks_in_24h'] = json.data[i]['blocks_in_24h'];
                        item['last_block'] = json.data[i]['last_block'];
                        item['pool_hashrate'] = (json.data[i]['pool_hashrate']/1000000000).toFixed(2)+ ' GH/s';
                        data.push(item)
                      }
                      return data;
                    }
                },
                columns: [
                    { data: 'pool', width: '15%'},
                    { data: 'block_height', width: '15%' },
                    { data: 'workers', width: '15%' },
                    { data: 'blocks_in_24h', width: '15%' },
                    { data: 'last_block', width: '15%' },
                    { data: 'pool_hashrate', width: '25%' }
                ]
            });
            /*setInterval( function () {
                rtable.api().ajax.reload(null, false);
            }, 45000 );*/
        });
    .col-xs-12.col-md-10.col-md-offset-1(style="margin-bottom: 5%")
        table#stats-table.table.table-striped.table-bordered
            thead
              tr
                th Pool
                th Block height
                th Workers
                th Blocks in 24h
                th Last block
            tbody.text-center
                th Pool hashrate